 .first {
    position: relative;
    width: 100%;
    height: 100vh;
  }
  
  .scene {
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    position: absolute;
    top: 20%;
    left: 40%;
    /* rotation axis tilt */
    -webkit-transform: rotateY(45deg) rotateX(45deg);
            transform: rotateY(45deg) rotateX(45deg);
  }
  
  .scene * {
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
  }
  
  .scene .bar {
    -webkit-animation: cam 10s linear infinite;
            animation: cam 10s linear infinite;
  }
  
  /* form */
  .scene .cube {
    font-size:4em;
    width: 4em;
    height:4em;
    margin: 1.5em auto;
    transform-style: preserve-3d;
    transform-origin: center center;
    transform: rotateX(-10deg) rotateY(-160deg) rotateZ(0deg);
  }
  
  /* cube */
  .cube {
    font-size:4em;
    width: 4em;
    height:4em;
    margin: 1.5em auto;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-transform: rotateX(-10deg) rotateY(-160deg) rotateZ(0deg);
            transform: rotateX(-10deg) rotateY(-160deg) rotateZ(0deg);
  }
  
  .side {
    position: absolute;
    width: 4em;
    height: 4em;
    border: 1px solid black;
  }
  .front {
    -webkit-transform: translateZ(2em);
            transform: translateZ(2em);
  }
  .top {
    -webkit-transform: rotateX(90deg) translateZ(2em);
            transform: rotateX(90deg) translateZ(2em);
  }
  .right {
    -webkit-transform: rotateY(90deg) translateZ(2em);
            transform: rotateY(90deg) translateZ(2em);
  }
  .left {
    -webkit-transform: rotateY(-90deg) translateZ(2em);
            transform: rotateY(-90deg) translateZ(2em);
  }
  .bottom {
    -webkit-transform: rotateX(-90deg) translateZ(2em);
            transform: rotateX(-90deg) translateZ(2em);
  }
  .back {
    -webkit-transform: rotateY(-180deg) translateZ(2em);
            transform: rotateY(-180deg) translateZ(2em);
  }
  
  /* move */
  @-webkit-keyframes cam {
    100% {
      -webkit-transform: rotateX(360deg);
              transform: rotateX(360deg);
    }
  }
  
  @keyframes cam {
    100% {
      -webkit-transform: rotateX(360deg);
              transform: rotateX(360deg);
    }
  }