body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0%;
    min-height: 100vh;
    background: black;
}

.logo{
    margin: 2px;
    /* border-radius: 30px;*/
} 

h1{
    color: whitesmoke;
    cursor: pointer;
}
