body{
    margin: 0;
    overflow: hidden;
    /* background: rgb(17, 17,19) ; */
    background: rgb(255, 255,255) ;
}

canvas{
    max-width: 800px;
    max-height: 800px;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    overflow: hidden;
}